
form {
    width: 90%;
    margin: auto;
}


h3 {
    font-weight: bold;
    text-decoration: underline;
}

tr {
    span {
        padding: 0;
    }

    width: 100%;
    // border: 1px solid black;
    display: inline-block;

    th {
        width: 100%;
        // padding-left: 1em;
    }

    td {
        width: 100%;
        margin: 0;
        text-align: left;

        // background-color: aqua;
        input {
            width: 50px;
            padding-right: 1em;
        }

        .trash {
            cursor: pointer;
        }
    }

    .quantity {
        text-align: right;
        min-width: 100px;
    }
}


.search {
    display: inline-flex;

    label {
        width: 30%;
        padding-top: 0.5em;
    }

    margin-bottom: 1em;
}

.data-container {
    margin: auto;
    // border-bottom: 2px solid rgb(54, 54, 54);
    padding-bottom: 1em;
    padding-top: 3em;
}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 0.2em;
    font-weight: lighter;
}


.botones {
    text-align: center;
    margin: 5em auto;
    padding-top: 1em;
    vertical-align: middle;

    button {
        margin: 0.5em;
        width: 12em;
    }

    button:hover {
        background-color: rgb(109, 8, 8);
    }
}

.back-button {
    background-color: rgb(155, 23, 23);
    margin-bottom: 1em;
    margin-top: -2em;

    &:hover {
        background-color: rgb(214, 16, 16);
    }
}

.alert {
    position: absolute;
    top: 8.1em;
    left: 25em;
    padding: 1.5em 3em;

    .alert-success {
        background-color: rgb(9, 117, 23);
        color: antiquewhite;
    }

    .alert-danger {
        background-color: rgb(155, 23, 23);
    }
}

.imageIcons {
    height: auto;
    margin: -0.5em;
    width: 30px;
}

.container-image {
    display: inline-block;
    width: auto;
    margin: 0 0.5em;
    padding: 0.3em 0;
}

.imagenDestacada {
    width: 150px;
    height: auto;
    position: fixed;
    top: 120px;
    right: 200px;
}

.listaCrypta,
.listaLibrary {
    color: antiquewhite;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(155, 23, 23);
    overflow-y: scroll;
    max-height: 500px;
    padding: 1em;

    li {
        text-decoration: none;
        list-style: none;
        padding: 0.5em;
        cursor: pointer;

        &:hover {
            background-color: rgb(155, 23, 23);
        }
    }
}

.listaCrypta {
    top: 28em;
    left: 25em;
}

.listaLibrary {
    top: 28em;
    right: 28em;
}

.container-logo{
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.192);

  }


  .logo{
    width: auto;
    height: 90vh;
    z-index: -1;
    opacity: 0.2;
  }
