<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center my-4">Image Gallery</h1>
    </div>
    <!--FILTRADO POR NOMBRE-->
    <div class="col-md-4 search">
      <input class="form-control me-2" type="search" 
      placeholder="Search" aria-label="Search"
      >
    </div>
    <!--FILTRADO POR AUTOR-->
    <div class="col-md-4 auth-search">
      <select name="auth" class="form-select" id="auth">
        <option value="auth">Search Auth</option>
      </select>
    </div>
  </div>

  <div class="row gallery">
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="" alt="">
      <p>Nombre carta</p>
    </div>
  </div>

  <div class="row gallery">
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_anson.png" class="img-fluid">
      <p>Anson</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_antonioderlette.png" class="img-fluid">
      <p>Antonio d´Eslette</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_clusterdubois.png" class="img-fluid">
      <p>Cluster DuBois</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_basilia.png" class="img-fluid">
      <p>Basilia</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_blackcat.png" class="img-fluid">
      <p>Black Cat</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_callthegreatbeast.png" class="img-fluid">
      <p>Call the Great Beast</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_carltonvanwyk.png" class="img-fluid">
      <p>Calton Van Wyk</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_carrioncrows.png" class="img-fluid">
      <p>Carrion Crows</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_alexandra.png" class="img-fluid">
      <p>Alexandra</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_theunnamed.png" class="img-fluid">
      <p>The unnamed</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_wynn.png" class="img-fluid">
      <p>Wynn</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_petaniqua.png" class="img-fluid">
      <p>Petaniqua</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_jessica.png" class="img-fluid">
      <p>Jessica</p>
    </div>
    <div class="col-md-2">
      <h4>Auth: Autor</h4>
      <img src="../../../../../assets/img/custom-cards/custom_nergal.png" class="img-fluid">
      <p>Nergal</p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <ul class="pagination pagination-lg">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>