.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.container-image{
    flex-grow: 1 1 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container-image h4,
.container-image p,
.container-image button {
  margin: 0.25rem 0;
}

.customCard{
  min-height: 200px;
  max-height: 280px;
  width: auto;
  cursor: pointer;
}
.customCard:hover{
  border: 2px solid rgb(201, 13, 13);
}

p{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-link{
  cursor: pointer;
}

h1{
    font-weight: bold;
}

h4{
    text-decoration: underline;
    padding: 0;
    margin: 1em 0 0 0;
}

.search{
    margin-top: 1.5em;
    button{
      margin-left: 6em;
    }
    button:hover{
      background-color: rgb(53, 5, 5);
    }
}
.auth-search{
    margin-top: 1.5em;
}

.pagination{
  text-align: center;
  padding-top: 1.5em;
  a{
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
  }
  a:hover{
    background-color: rgb(53, 5, 5);
  }
}

.container-logo{
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
}


.logo{
  width: 98%;
  height: auto;
  z-index: -1;
  opacity: 0.3;
}
