.container{
    width: auto;
    padding: 1em;
    background-color: rgb(43, 42, 42);
    color: aliceblue;
}

.info-details{
    padding: 1em;
    font-size: large;
    width: auto;
    margin-right: 200px;
    min-width: 400px;
}

.close{
  color: aliceblue;
  border-radius: 50%;
  padding: 0.5em;
  font-size: large;
  width: 20px;
  height: 20px;
}

.close:hover{
  cursor: pointer;
}

.image{
  float: right;
}

.underline{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .info-details{
    font-size: medium;
  }
}
