<div class="top-space">

</div>

<app-side-bar></app-side-bar>

<div class="px-3 py-2 text-bg-dark border-bottom header">
  <!--IMAGEN DE PERFIL-->
  <!-- <div class="profile">
    @if(user){
      <img src="{{user.profileImage}}" width="60" alt="" />
    }@else{
      <img src="../../../assets/img/default-perfil.png" width="60" alt="" />
    }
  </div> -->
  <div class="container-logo">
    <img class="logo" src="../../../../assets/img/icons-vtes/logo/logo-blanco.png" alt="" />
    <a class="navbar-brand" href="#">Elysium Eternal</a>
  </div>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="/inicio" class="nav-link text-secondary">
            Home
          </a>
        </li>

        <li class="nav-item text-white menu-decks">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List Cards
          </a>
          <ul class="dropdown-menu decks">
            <li><a class="dropdown-item" href="/cripta">Crypt</a></li>
            <li><a class="dropdown-item" href="/biblioteca">Library</a></li>
          </ul>
        </li>

        <li class="nav-item text-white menu-decks">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Custom Cards
          </a>
          <ul class="dropdown-menu decks">
            <li><a class="dropdown-item" href="/custom">Make a Card</a></li>
            <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
          </ul>
        </li>

        <li class="nav-item text-white menu-decks">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu decks">
            <li><a class="dropdown-item" href="/listar-eventos">Ver Eventos</a></li>
            <li><a class="dropdown-item" href="/events">Crear Evento</a></li>
          </ul>
        </li>

        <li class="nav-item text-white menu-decks">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Decks
          </a>
          <ul class="dropdown-menu decks">
            <li><a class="dropdown-item" href="/ficha-deck">New Deck</a></li>
            <li><a class="dropdown-item" href="/lista-decks">List of Decks</a></li>
          </ul>
        </li>

        <li class="nav-item text-white menu-decks">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Foro
          </a>
          <ul class="dropdown-menu decks">
            <li><a class="dropdown-item" href="/list-foros">Lista de Foros</a></li>
            <li><a class="dropdown-item" href="/new-foro">Nuevo Hilo</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
