.top-space{
  height: 120px;
}

.container{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  padding-top: 1em;
  align-items: center;
  justify-content: center;
}

.container .nav{
  justify-content: center;
  width: fit-content;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 110px;
    max-height: 200px;
    z-index: 100;
    background-color: rgba(26, 25, 25, 0.959);
}

.profile{
    position: fixed;
    top: 20px;
    left: 15px;
    border: 2px solid rgb(107, 105, 105);
    border-radius: 50%;
    li{
      padding: 0;
      margin: 0;
    }
    img{
      height: 70px;
      width: 70px;
      border: none;
    }
}
.profile:hover{
  border: 2px solid rgb(255, 255, 255);
}

.input{
    margin: 0;
    padding: 0;
}


.menu-decks{
  color: whitesmoke;
  a{
    color: white
  }
  a:hover{
    color: #f85640
  }
}

.decks{
  background-color: #202020;
  border-bottom: 2px solid #d60e0e;
  border-left: 2px solid #d60e0e;
  border-right: 2px solid #d60e0e;
  li{
    padding: 0.2em;
  }
  a{
    color: white
  }
  a:hover{
    color: #212529
  }
}

.titulo-page{
  transition-duration: 0.3s;
  padding-bottom: 0.4em;
}
.titulo-page:hover{
  color: #d60e0e;
  border-bottom: #d60e0e solid 2px;
}

@media (min-width: 200px) and (max-width: 691px) {

  .container{
    width: fit-content;
    display: block;
    justify-content: right;
  }
  .container .nav{
    display: block;
    margin-top: -1.3em;
  }

  .top-space{
    height: 220px;
  }


}

