.panel-admin{
  background-image: url('../../../../assets/img/fondo-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: underline;
    padding: 1em 0;
  }
}

  nav{
    ul{
      background-color: rgb(58, 57, 57);
      display: flex;
      justify-content: center;
      padding: 1em;
      li{
        margin: 0 1em;
        list-style: none;
        a{
          font-size: 1.5em;
          text-decoration: none;
          color: aliceblue;
        }
        a:hover{
          color: rgb(180, 160, 160);
        }
      }
    }
  }

