
form{
    border: 2px solid rgb(92, 91, 91);
    padding: 2em;
    border-radius: 8px;
    box-shadow:  3px 0px 5px 0 rgb(63, 2, 2);
    width: 70%;
    margin: 10vh auto auto auto;
    background-color: rgb(235, 232, 232);
    .date{
        margin-top: 1em;
    }
}
