<div class="portada">
    <div class="container">
        <form (ngSubmit)="forgotPassword()">
            <div class="form-floating">
                <input type="email" class="form-control"
                id="floatingInput" placeholder="name@example.com"
                [(ngModel)]="email" name="email">
                <label for="floatingInput">Email</label>
            </div>
            <br>

            <button class="btn btn-dark w-100 py-2" type="submit">
              Solicitar nueva contraseña
            </button>
        </form>

        <br>

        @if (showSucessMessage) {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Bienvenido</strong><br>
        </div>
        }


        @if(showErrorMessage){
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{errorMesage}}</strong><br>
          <p>Please, check your credentials and try submitting again.</p>
          </div>
        }

    </div>

</div>
