<div class="container">
  <div class="row" cdkDropListGroup>

    <div class="col-md-6 list-players">
      <h2>Lista de Jugadores</h2>
      <div cdkDropList [cdkDropListData]="jugadores" class="example-list" (cdkDropListDropped)="drop($event)">
        @for (item of jugadores; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>

    <div class="col-md-6 list-players">
      <h2>Mesas</h2>
      <button (click)="agregar()">agregar</button>
      <ul>
        @for (mesa of mesas; track mesa) {
        <h3>Mesa Nº {{mesas.indexOf(mesa)+1}}</h3>
        <button (click)="delete(mesa)">borrar</button>
        <li class="mesa" cdkDropList [cdkDropListData]="mesa" (cdkDropListDropped)="drop($event)">
          @for (jugador of mesa; track jugador) {
          <div cdkDrag>{{jugador}}</div>
          }
        </li>

        }
      </ul>
    </div>

  </div>
</div>
