<!-- <section class="container">
  <h2>Contact us:</h2>
  <form action="">
    <div class="row">
      <div class="col-md-6">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" required
        [(ngModel)]="title" [ngModelOptions]="{ standalone: true }"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          name="title"
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          name="title"
        />
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <textarea name="message" id="message" cols="30" rows="10" class="form-control textarea"
          [(ngModel)]="message" [ngModelOptions]="{ standalone: true }"></textarea>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 button">
          <button class="w-100 btn btn-dark" type="submit"
          (click)="sendForm()">
            Enviar
          </button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>
</section> -->



<!-- REACTIVE FORM-->
<section class="container">
  <h2>Contact us:</h2>
  <form action="" [formGroup]="contactForm" (ngSubmit)="formSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title"
        formControlName="title"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          name="title"
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          name="title"
        />
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <textarea name="message" id="message" cols="30" rows="10" class="form-control textarea"
          formControlName="message"></textarea>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 button">
          <button class="w-100 btn btn-dark" type="submit"
          (click)="sendForm()"
          [disabled]="!contactForm.valid">
            Enviar
          </button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </form>

  <h3>{{contactForm.value.title}}</h3>
</section>
