<div class="container intro">
  <div class="container-logo">
    <img class="logo" src="../../../assets/img/icons-vtes/logo/logo-negro.png" alt="">
  </div>
  <p>
    Vampire: The Eternal Struggle (VTES) es un juego de cartas coleccionables
    ambientado en el universo de Vampiro: La Mascarada, uno de los juegos de rol
    más populares del mundo. Lanzado por primera vez en 1994 por la editorial
    White Wolf, VTES se ha convertido en un clásico entre los amantes de los
    juegos de cartas estratégicos.
  </p>
  <p>
    En VTES, los jugadores asumen el papel de poderosos vampiros que luchan por el
    control de la ciudad. Cada jugador construye un mazo de cartas que representa
    su clan, disciplinas y recursos, con el objetivo de eliminar a sus oponentes y
    convertirse en el vampiro dominante.
  </p>
  <p>
    La historia de VTES se remonta a los orígenes del juego de rol Vampiro: La
    Mascarada, que introdujo a los jugadores en el fascinante mundo de las
    criaturas de la noche. Cuando White Wolf decidió adaptar este universo a un
    juego de cartas, la comunidad de jugadores acogió la idea con entusiasmo.
  </p>
  <p>
    A lo largo de los años, VTES ha mantenido una base de seguidores fieles
    gracias a su profunda estrategia, su rica ambientación y su constante
    evolución. Cada expansión y set de cartas ha traído nuevas mecánicas, clanes y
    personajes, manteniendo fresco y emocionante el juego para los veteranos y
    atrayendo a nuevos jugadores.
  </p>
  <p>
    Hoy en día, VTES sigue siendo un juego de culto entre los amantes de los
    juegos de cartas estratégicos. Su comunidad internacional organiza torneos y
    eventos en todo el mundo, donde los jugadores se reúnen para demostrar sus
    habilidades y disfrutar de la emoción de la eterna lucha entre los vampiros.
  </p>

</div>
