<div class="container">
    <span class="close" (click)="closeModal()">X</span>
    <form class="container-form" enctype="multipart/form-data">
        <h2 class="title">Upload your new Avatar</h2>
        <div class="drop-area">
            <div class="file-upload-icon" (click)="openModal()">
                @if(selectedAvatar===null){
                <img class="rounded-circle" alt="" src="../../../../assets/img/default-avatar.png">
                }@else {
                <img class="rounded-circle" alt="" [src]="avatarUrl + selectedAvatar.name + selectedAvatar.extension">
                }
            </div>
        </div>
        <div class="actions">
            <button class="btn btn-dark" id="submit-button" type="submit" (click)="newAvatar()">
                Save
            </button>
        </div>
    </form>
</div>
