<div class="container">
  <div class="container-logo">
    <img class="logo" src="../../../assets/img/icons-vtes/clans/svg/toreador2.svg" alt="">
  </div>
  <form action="" role="search" [formGroup]="listDeckForm">
    <div class="row">
      <!--AUTHOR-->
      <div class="col-6">
        <h4 class="titulo-select">Author</h4>
        <select name="" class="form-select" id=""
        formControlName="author"
        (change)="filterByAuthor()">
          <option value="*" selected>All Authors</option>
          @for(user of user; track user._id){
          <option value="{{ user.nick }}"
          >{{ user.nick }}</option>
          }
        </select>
      </div>
      <!--TYPE-->
      <div class="col-6">
        <h4 class="titulo-select">Type</h4>
        <select class="form-select" id="category"
        formControlName="category"
        (change)="filterByCategory()"
        >
          <option value="*">All</option>
          <option value="Bleed">Bleed</option>
          <option value="Combat">Combat</option>
          <option value="Toolbox">Toolbox</option>
          <option value="Wall">Wall</option>
          <option value="Ally">Ally</option>
          <option value="Vote">Vote</option>
        </select>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Author</th>
          <th>Nº Cards</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(deck of decks; track deck._id){
        <tr class="table-light"
        >
          <th class="deck-name" [routerLink]="['/deck/' + deck._id]"
          >{{ deck.name }}</th>
          <td>{{ deck.category }}</td>
          <!-- <td>{{ deck.description }}</td> -->
          <td>{{ truncateDescription(deck.description, 50) }}</td>
          <td>{{ deck.author }}</td>
          <td>{{ countTotal(deck) }}</td>
          <td>
            <svg class="trash" id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
            fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            (click)="deleteDeck(deck._id)">
            <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
          </svg>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- <div class="d-flex justify-content-center pagination-content">
      <ul class="pagination pagination-lg">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div> -->
  </form>
</div>
