.titulo-select{
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0.5em;
}


table{
    margin-top: 3em;
    opacity: 0.9;
    tr{
        cursor: pointer;
    }
}


.pagination-content{
    margin-top: 4em;
    a:hover{
        background-color: rgb(117, 5, 5);
        color: aliceblue;
    }
    a:focus{
        background-color: rgb(117, 5, 5);
        color: aliceblue;
    }

}

.page-link{
    color: rgb(117, 5, 5);
}

.page-item.active .page-link
{
    background-color: rgb(117, 5, 5);
    color: aliceblue;
    border-color: rgb(117, 5, 5);
}

.background{
    background-image: url("../../../../../assets/img/icons-vtes/clans/brujah.gif");
    background-size: 25%;
    background-position: left;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    top: 20vh;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.background2{
    background-image: url("../../../../../assets/img/icons-vtes/clans/followerSet.gif");
    background-size: 25%;
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    right: 5vh;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}