<div class="container">
    <form action="">
        <div class="row">
            <div class="col-md-6">
                <label for="title" class="form-label">Nombre del Evento</label>
                <input type="text" class="form-control" id="title" required>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@gmail.com">
            </div>

            <div class="col-md-6">
                <label for="nacimiento">Fecha<small></small></label><br>
                <input type="date" id="date"  name="date"  class="sm-form-control date">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="country" class="form-label">Provincia</label>
                <select class="form-select" id="provincia" required>
                    <option value="">Choose...</option>
                    <option>Provincia</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="country" class="form-label">Ciudad</label>
                <select class="form-select" id="ciudad" required>
                    <option value="">Choose...</option>
                    <option>Ciudad</option>
                </select>
            </div>
        </div>
        <br>
        <select class="form-select" aria-label="Default select example">
            <option selected>Tipo de Evento</option>
            <option value="1">Torneo</option>
            <option value="2">Pachanga</option>
        </select>
        <div class="mb-3">
            <label for="Añade la informacion relevante" class="form-label">Añade la informacion relevante</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button class="w-100 btn btn-dark btn-lg" type="submit">Enviar</button>
    </form>
</div>