// main{
//   text-align: center;
//   color: wheat;
//   margin-top: 15em;
//   padding: 0;
//   height: auto;
// }

app-nav-bar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

