.container {
  max-width: 700px;
  padding: 3em;

  form {
    position: relative;
    padding: 1em;
    border: 2px solid #212529;
    box-shadow: 5px 0px 18px 0 rgb(68, 2, 2);
    background-color: rgb(224, 220, 216);

    label {
      color: rgb(68, 2, 2);
      margin-left: 1em;
    }

    button:hover {
      background-color: rgb(68, 2, 2);
    }
  }
}

form div {
  margin-top: 1em;
}


p {
  padding: 0;
  margin: 0;
}

.pie {
  display: flex;
  flex-wrap: wrap;

  p {
    padding-left: 2em;
  }
}


.form-container {
  position: relative;

  .choose-image {
    cursor: pointer;
    width: fit-content;
    padding: 0.3em;
    margin: auto;

    img {
      width: 60px;
      height: 60px;
      opacity: 0.5;
    }

    img:hover {
      opacity: 1;
    }
  }

}

.container-logo {
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.192);

}


.logo {
  width: auto;
  height: 90vh;
  z-index: -1;
  opacity: 0.2;
}

.password{
  position: relative;
  .icon-password{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .icon-confirm-password{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

}
