.inicio{
  text-align: center;
  background-color: orange;
}

.space-top{
  margin-top: 5em;
}

.intro{
  margin-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  width: 60%;
  font-weight: lighter;
  font-size: larger;
}

img{
  max-height: 500px;
  width: auto;
}

.line{
  border-bottom: 1px solid rgb(71, 71, 71);
}


section{
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  font-size: 1.5em;
}
