.inicio{
  text-align: center;
  background-color: orange;
}

img{
  max-height: 500px;
  width: auto;
}

.container{
  border-bottom: 1px solid rgb(71, 71, 71);
}


section{
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
  font-size: 1.5em;
}
