form {
  width: 90%;
  margin: auto;
}

h3{
  font-weight: bold;
  text-decoration: underline;
}

tr{
  width: 100%;
  th{
    width: 45%, 40%, 5%, 10%;
    padding-left: 1em;
  }
  td{
    width: auto;
    padding-left: 1em;
    margin: auto;
    text-align: left;
    input{
      width: 50px;
    }
    .trash{
      cursor: pointer;
      margin-left: 1em;
      margin-right: -4em;
    }
  }
  .quantity{
    text-align: center;
    input{
      margin-right: -0.7em;
    }
  }
}


.search{
  display: inline-flex;
  label{
    width: 30%;
    padding-top: 0.5em;
  }
  margin-bottom: 1em;
}

.data-container {
  margin: auto;
  // border-bottom: 2px solid rgb(54, 54, 54);
  padding-bottom: 1em;
  padding-top: 3em;
}

.crypt {
  // position: relative;

  // span {
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 0;
  //   right: 5px;
  // }
}

.library {
  // position: relative;

  // span {
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 0;
  //   right: 5px;
  // }
}

h1 {
  border-bottom: 1px solid black;
  padding-bottom: 0.2em;
  font-weight: lighter;
}


.botones {
  text-align: center;
  margin: auto;
  padding-top: 1em;

  button {
    margin: 0.5em;
    width: 12em;
  }
  button:hover{
    background-color: rgb(109, 8, 8);
  }
}

.back-button{
  background-color:rgb(155, 23, 23);
  margin-bottom: 1em;
  margin-top: -2em;
  &:hover{
    background-color: rgb(214, 16, 16);
  }
}

.alert{
  background-color: rgba(109, 8, 8, 0.7);
  color: antiquewhite;
}

.imageIcons{
  height: auto;
  margin: -0.5em;
  width: 30px;
}

.container-image{
  display: inline-block;
  width: auto;
  margin: 0 0.5em ;
  padding: 0.3em 0;
}
