<!--front/src/app/pages/main/deck/ficha-deck/ficha-deck.component.html-->
<form action="">
  <div class="data-container">

    <button class="btn btn-dark back-button"
    [routerLink]="['/lista-decks/']">Back to list</button><br>

    <div class="row">
      <!--TITULO DECK-->
      <div class="col-md-6">
        <input class="form-control" placeholder="Title" type="text" id="title" value="" >
      </div>
      <!--AUTOR-->
      <div class="col-md-6">
        <input class="form-control" placeholder="Author" type="text" id="author" value="">
      </div>
      <!--DESCRIPCION DE MAZO-->
      <div class="col-md-6">
        <br>
        <input class="form-control" placeholder="Description" type="text" id="description" value="">
      </div>
      <!--CATEGORIA-->
      <div class="col-md-6">
        <br>
        <select class="form-select" value="category" name="category" id="category">
          <option value="Ally">Ally</option>
          <option value="Bleed">Bleed</option>
          <option value="Combat">Combat</option>
          <option value="Toolbox">Toolbox</option>
          <option value="Wall">Wall</option>
          <option value="Vote">Vote</option>
        </select>
      </div>
    </div>
  </div>

  <div class="deck-body">
    <div class="row">
      <!--CARTAS CRYPT-->
      <div class="col-md-5 crypt">
        <div class="search col-md-12">
          <label class="form-label">Search By Name: </label>
          <input name="filter" [(ngModel)]="searchName"
          class="form-control me-2" type="search"
          placeholder="Search" aria-label="Search"
          (input)="filterCards()"/>
          @if(filteredCards.length > 0){
            <div class="dropdown">
              <ul class="dropdown-menu show">
                <li *ngFor="let card of cards
                | filter: ['Vampire', 'Imbued']:false
                | filterMulti: {
                  searchName: searchName
                }"
                (click)="addCardToDeck(card)">
                  <a class="dropdown-item">{{ card.name }}</a>
                </li>
              </ul>
            </div>
          }
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="table-dark">
              <th><strong>Crypt</strong></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="addCardToDeck(card)" *ngFor="let deck of decks">
              <td>{{card.name}}</td>
              <td>
                <div class="container-image" *ngFor="let discipline of card.disciplines">
                  @defer (on viewport){
                    <img class="imageIcons" [src]="getDisciplineUrl(discipline)" alt="">
                  }@placeholder{
                    <p>{{ discipline }}</p>
                  }
                </div>
              </td>
              <td>
                <div class="container-image">
                  @defer (on viewport) {
                    <img class="imageIcons" [src]="getCapacityCostImage(card.capacity)" loading="lazy">
                  }@placeholder{
                    <p>{{ card.blood_cost }} {{ card.pool_cost }}</p>
                  }
                </div>
              </td>
              <td class="quantity">
                <input name="quantity" value="1" min="1" type="number">
                <svg class="trash" id="i-trash" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32" width="24" height="24" fill="none"
                stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                (click)="removeCardsInDeck(card)">
                  <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                </svg>
              </td>
            </tr>

          </tbody>
        </table>
        <!--MENSAJE DE ERROR-->
          @if(showErrorMessage){
            <div class="alert alert-dismissible">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <strong>Decks must have a minimum of 60 cards.</strong><br>
            </div>
          }
      </div>

      <!--CARTAS LIBRARY-->
      <div class="col-md-5 library">
        <div class="search col-md-12">
          <label class="form-label">Search By Name:</label>
          <input name="search" [(ngModel)]="searchName"
          class="form-control me-2" type="search"
          placeholder="Search" aria-label="Search"
          (input)="filterCards()"/>
          @if(filteredCards.length > 0){
            <div class="dropdown">
              <ul class="dropdown-menu show">
                <li *ngFor="let card of cards
                |filter: ['Vampire', 'Imbued']:true
                | filterMulti: {
                  searchName: searchName
                }"
                (click)="addCardToDeck(card)"
                >
                  <a class="dropdown-item">{{ card._name }}</a>
                </li>
              </ul>
            </div>
          }
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="table-dark">
              <th>Library</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="addCardToDeck(card)" *ngFor="let deck of decks"
            >
              <!--NAME OF CARD-->
              <td>{{card.name}}</td>
              <!--DISCIPLINES-->
              <td>
                <div class="container-image" *ngFor="let discipline of card.disciplines">
                  @defer (on viewport){
                    <img class="imageIcons" [src]="getDisciplineUrl(discipline)" alt="">
                  }@placeholder{
                    <p>{{ discipline }}</p>
                  }
                </div>
              </td>
              <!--COST-->
              <td>
                <div class="container-image">
                  @defer (on viewport) {
                    <img class="imageIcons" [src]="getBloodCostImage(card.blood_cost) || getPoolCostImage(card.pool_cost)" loading="lazy">
                  }@placeholder{
                    <p>{{ card.blood_cost }} {{ card.pool_cost }}</p>
                  }
                </div>
              </td>
              <!--QUANTITY-->
              <td class="quantity">
                <input name="quantity" value="1" min="1" type="number">
                <svg class="trash" id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--OPCIONES PARA GUARDADO-->
      <div class="col-md-2 botones">
        <button class="btn btn-dark">
          <svg id="i-file" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
          </svg> Create Deck
        </button><br>
        <button class="btn btn-dark" (click)="saveDeck()">
          <svg id="i-file" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
          </svg> Save change</button><br>
        <button class="btn btn-dark">
          <svg id="i-print" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M7 25 L2 25 2 9 30 9 30 25 25 25 M7 19 L7 30 25 30 25 19 Z M25 9 L25 2 7 2 7 9 M22 14 L25 14" />
          </svg> .txt</button><br>
        <button class="btn btn-dark">
          <svg id="i-print" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M7 25 L2 25 2 9 30 9 30 25 25 25 M7 19 L7 30 25 30 25 19 Z M25 9 L25 2 7 2 7 9 M22 14 L25 14" />
          </svg> pdf</button><br>
        <button class="btn btn-dark">Make a Copy</button>
        <button class="btn btn-dark">
          <svg id="i-import" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M28 22 L28 30 4 30 4 22 M16 4 L16 24 M8 16 L16 24 24 16" />
          </svg> Import deck</button><br>
        <button class="btn btn-dark">
          <svg id="i-export" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M28 22 L28 30 4 30 4 22 M16 4 L16 24 M8 12 L16 4 24 12" />
          </svg> Export deck</button><br>
        <button class="btn btn-dark">
          <svg class="trash" id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
          </svg> Delete
        </button><br>
      </div>
    </div>
  </div>
</form>







