.sidebar{
    position: fixed;
    top: -0.3em;
    left: 1em;
    // transition: 0.8s;
    z-index: 200;
}

.profileImage{
    border-radius: 50%;
    border: 2px solid white;
    width: 80px;
    height: auto;
}

.profileImage:hover{
  border: 2px solid rgb(201, 13, 13);
}