<!--front/src/app/components/side-bar/side-bar.component.html-->
<div class="bg-body-dark sidebar">
    @if(user?.profileImage){
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="getProfileImage()" class="profileImage" alt="">
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li>
                <a class="dropdown-item" href="#">New Avatar</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="#">Sign out</a>
            </li>
        </ul>
    </div>
    }@else {
        <div class="sidebar">
            <img [src]="getProfileImage()" class="profileImage" alt="">
        </div>
    }
</div>