<!--front/src/app/components/side-bar/side-bar.component.html-->
<div class="bg-body-dark sidebar">
    @if(user?.avatarUrl){
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="getProfileImage()" class="profileImage" alt="">
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li>
                <p class="dropdown-item">{{user?.nick}}</p>
            </li>
            <li>
                <p class="dropdown-item enlace" (click)="openModal()">New Avatar</p>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item enlace" href="#" (click)="logout()">Sign out</a>
            </li>
        </ul>
    </div>
    }@else {
        <div class="sidebar">
            <img class="defaultImage" src="{{defaultImage}}" alt="" (click)="login()"
            style="cursor:pointer"    >
        </div>
    }
</div>
