.sidebar{
    position: fixed;
    top: -0.3em;
    left: 1em;
    // transition: 0.8s;
    z-index: 200;
}

.profileImage{
    border-radius: 50%;
    border: 2px solid white;
    width: 80px;
    height: auto;
}

.profileImage:hover{
  border: 2px solid rgb(201, 13, 13);
}

.defaultImage{
  border: 2px solid white;
  border-radius: 50%;
  width: 80px;
  margin-top: 1.2em;
  background-color: aliceblue;
}

.enlace:hover{
  color: aliceblue;
  background-color: rgb(36, 35, 35);
}
