<!--front/src/app/pages/main/eventos/ficha-event/ficha-event.component.html-->
<div class="container-logo">
  <img class="logo" src="../../../assets/img/icons-vtes/logo/logo-negro.png" alt="">
</div>
<div class="row center">
  <div *ngIf="currentUser && currentUser.role === 'ADMIN' || currentUser.role === 'SUPER_ADMIN'" class="center">
    <button class="btn btn-dark" (click)="addUserByEmail()">Agregar Usuario por Correo Electrónico</button>
  </div>
</div>
<div class="container">
  @if(showSucessMessage){
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{mesage}}</strong>
    </div>
    }

    @if(showErrorMessage){
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{mesage}}</strong><br>
      </div>
    }
  <header class="header">
    <!-- <img src="../../../../../assets/img/plantilla.png" alt=""> -->
    <h1 class="title">
      <strong>Titulo: {{evento.name}}</strong>
    </h1>
    <div class="reloj">
      <h3 class="time">{{days}}<br>{{timeRemaining}}</h3>
    </div>
    <div class="flex">
      <div class="info">
        <p><strong>Type: </strong> {{evento.type}}</p>
        <p><strong>Provincia: </strong>{{evento.provincia }}</p>
        <p><strong>Localidad: </strong>{{evento.localidad }}</p>
        <p><strong>Direccion: </strong>{{evento.direccion }}</p>
        <p><strong>Fecha: </strong>{{evento.fecha }}</p>
        <p><strong>Hora: </strong>{{evento.hora }}</p>
        <p><strong>Max. Participantes: </strong>{{evento.numMaxParticipantes }}</p>
        <p><strong>Description: </strong>{{evento.description}}</p>
        <div class="buttons">
          <button class="btn btn-dark"
          (click)="addUserToEvent()"
          >Apuntarse</button>
          <button class="btn btn-dark"
          (click)="deleteUserFromEvent()"
          >Darse de Baja</button>
          <input type="file" id="fileInput" style="display: none;" />
          <!-- <button class="btn btn-dark" onclick="document.getElementById('fileInput').click()">Subir Mazo</button> -->
          <span id="fileName"></span>
          <button class="btn btn-dark" [routerLink]="['/listar-eventos/']">Back to list of Events</button>
          @if(showButtonStartEvent == true){
            <button class="btn btn-dark">Comenzar torneo</button>
          }
        </div>
      </div>
    </div>
  </header>

  <section>
    <h2 class="title">Participantes</h2>
    <table class="table table-hover" *ngIf="eventUsers">
      <thead>
        <tr class="table-dark">
          <th>Image</th>
          <th>Participantes</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventUser of eventUsers.userId let i = index" [class.table-light]="i % 2 === 0"
          [class.table-secondary]="i % 2 !== 0">
          <td><img class="avatar" [src]="apiUrl + eventUser.avatarUrl"></td>
          <td>{{eventUser.name}}</td>
          <td>{{eventUser.email}}</td>
          <th>
            <button class="btn btn-dark">Dar de Baja</button>
          </th>
        </tr>
      </tbody>
    </table>
  </section>

</div>
