<div class="container">
  @if(showSucessMessage){
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{mesage}}</strong> You successfully read <a href="#" class="alert-link">this important alert
        message</a>.
    </div>
    }

    @if(showErrorMessage){
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{mesage}}</strong><br>
      <p>Please, check your credentials and try submitting again.</p>
    </div>
    }
  <header class="header">
    <h1 class="title">
      <strong>Titulo: {{evento.name}}</strong>
    </h1>
    <div class="flex">
      <div class="info">
        <p><strong>Type: </strong> {{evento.type}}</p>
        <p><strong>Provincia: </strong>{{evento.provincia }}</p>
        <p><strong>Localidad: </strong>{{evento.localidad }}</p>
        <p><strong>Direccion: </strong>{{evento.direccion }}</p>
        <p><strong>Fecha: </strong>{{evento.fecha }}</p>
        <p><strong>Hora: </strong>{{evento.hora }}</p>
        <p><strong>Max. Participantes: </strong>{{evento.numMaxParticipantes }}</p>
        <p><strong>Description: </strong>{{evento.description}}</p>
      </div>
      <div class="buttons">
        <button class="btn btn-dark"        
        (click)="addUserToEvent()"
        >Apuntarse</button><br>
        <button class="btn btn-dark">Darse de Baja</button><br>
        <button class="btn btn-dark">Subir mazo</button><br>
        <button class="btn btn-dark">Añadir comentario</button><br>
        <button class="btn btn-dark" [routerLink]="['/listar-eventos/']">Back to list of Events</button>


      </div>
    </div>
  </header>

  <section>
    <h2 class="title">Participantes</h2>
    <table class="table table-hover" *ngIf="eventUsers">
      <thead>
        <tr class="table-dark">
          <th>Image</th>
          <th>Participantes</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventUser of eventUsers.userId let i = index" [class.table-light]="i % 2 === 0"
          [class.table-secondary]="i % 2 !== 0">
          <td><img [src]="eventUser.avatarUrl"></td>
          <td>{{eventUser.name}}</td>
          <td>{{eventUser.email}}</td>
          <th>
            <button class="btn btn-dark">Dar de Baja</button>
          </th>
        </tr>
      </tbody>
    </table>
  </section>

</div>