<!--front/src/app/pages/main/eventos/ficha-event/ficha-event.component.html-->
<div class="container-logo">
  <img class="logo" src="../../../assets/img/icons-vtes/clans/svg/tremere2.svg" alt="">
</div>
<div class="row center addUsers">
  <div *ngIf="currentUser && currentUser.role === 'ADMIN' || currentUser.role === 'SUPER_ADMIN'" class="center">
    <button class="btn btn-dark" (click)="addUserByEmail()">Agregar Usuario por Correo Electrónico</button>
  </div>
</div>
<div class="container">
  @if(showSucessMessage){
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{mesage}}</strong>
  </div>
  }

  @if(showErrorMessage){
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{mesage}}</strong><br>
  </div>
  }
  <header class="header">
    <!-- <img src="../../../../../assets/img/plantilla.png" alt=""> -->
    <h1 class="title">
      <strong>Titulo: {{evento.name}}</strong>
      <h3 class="time">{{days}}<br>{{timeRemaining}}</h3>
    </h1>
    <div class="reloj">
    </div>
    <div class="flex">
      <div class="info">
        <p><strong>Type: </strong> {{evento.type}}</p>
        <p><strong>Provincia: </strong>{{evento.provincia }}</p>
        <p><strong>Localidad: </strong>{{evento.localidad }}</p>
        <p><strong>Direccion: </strong>{{evento.direccion }}</p>
        <p><strong>Fecha: </strong>{{evento.fecha }}</p>
        <p><strong>Hora: </strong>{{evento.hora }}</p>
        <p><strong>Max. Participantes: </strong>{{evento.numMaxParticipantes }}</p>
        <!-- <p><strong>Inscritos:</strong>{{evento.participantesInscritos}}</p> -->
        <p><strong>Description: </strong>{{evento.description}}</p>
        <div class="buttons">
          <button class="btn btn-dark" (click)="addUserToEvent()">Apuntarse</button>
          <button class="btn btn-dark" (click)="deleteUserFromEvent()">Darse de Baja</button>
          <input type="file" id="fileInput" style="display: none;" />
          <!-- <button class="btn btn-dark" onclick="document.getElementById('fileInput').click()">Subir Mazo</button> -->
          <span id="fileName"></span>
          <button class="btn btn-dark" [routerLink]="['/listar-eventos/']">Back to list of Events</button>
          <!-- <button class="btn btn-dark" (click)="tirada()">Sortear posiciones</button> -->
          @if(showButtonStartEvent == true && isStarted == false){
          <button class="btn btn-dark" (click)="sortearMesa()">Comenzar torneo</button>
          }
          @if(showButtonStartEvent == true && isStarted == true){
          <button class="btn btn-dark" (click)="stopEvent()">Detener torneo</button>
          }
          <button class="btn btn-dark" disabled>Ranking</button>
        </div>
      </div>
    </div>
  </header>





  @if(isStarted === false){
  <div class="row">

    <div class="col-md-10 container-jugadores">
      <div class="lista-jugadores">
        <h2>Lista de Jugadores Inscritos</h2>
        <ul class="table-dark">
          <li>Image</li>
          <li>Participantes</li>
          <li></li>
          <li>Email</li>
          <li>Acciones</li>
        </ul>
        <ul *ngFor="let eventUser of eventUsers.userId let i = index" [class.table-light]="i % 2 === 0"
          [class.table-secondary]="i % 2 !== 0">
          <li><img class="avatar" [src]="apiUrl + eventUser.avatarUrl" alt=""></li>
          <li>{{eventUser.name}}</li>
          <li></li>
          <li>{{eventUser.email}}</li>
          <li>
            <svg class="trash" id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20"
              height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" (click)="deleteUserFormEventById(eventUser._id)">
              <path
                d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
            </svg>
          </li>
        </ul>
      </div>
    </div>



    
  </div>
  }

  @if(isStarted === true){
  <section class="row torneo-container">
    <div class="col-md-6" *ngFor="let ronda of evento.ronda"
    >
      <h2 class="mesa">Ronda Nº {{ronda.numero}}</h2>
      <div *ngFor="let mesa of ronda.mesas let i = index"
      [class.table-light]="i % 2 === 0"
    [class.table-secondary]="i % 2 !== 0">
        <ul class="table-dark container-mesa">
          <li>Mesa Nº {{mesa.numero}}</li>
          <li></li>
          <li>Ronda Nº {{ronda.numero}}</li>
          <li></li>
          <li></li>
        </ul>
        <div>
          <ul class="jugadores" *ngFor="let player of mesa.players">
            <li>
              <img class="avatar" [src]=" apiUrl + player.userId.avatarUrl" alt="">
              {{" "+player.userId.name}}
            </li>
            <li></li>
            <li>Puntos: </li>
            <li></li>
            <li>Mesa</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  }


</div>