.addUsers {
  margin-top: 2em;
}

.container {

  .back {
    margin: 1em;
    float: right;
  }

  button:hover {
    background-color: rgb(99, 5, 5);
  }

  .header {
    border: 2px solid black;
    height: fit-content;
    margin: 3em 0;
    box-shadow: 3px 0px 5px 0 rgb(63, 2, 2);
    background-image: url("../../../../../assets/img/others/fondo-transparencia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    position: relative;
    .title {
      text-decoration: underline;
      font-size: 1.8em;
      text-align: center;
      margin-top: 1em;
      font-weight: bold;
      font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    .info {
      margin: 3em 1em;
      font-size: 1.2em;
    }

    .buttons {
      margin: auto;

      button {
        margin: 0.5em;
      }
    }
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo {
  position: fixed;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.192);
}


.logo {
  width: auto;
  height: 85vh;
  z-index: -1;
  opacity: 0.2;
}

.time {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding-left: 2em;
}

.alert {
  position: fixed;
  top: 40dvh;
  left: 45dvw;
  width: fit-content;
  text-align: center;
}

.trash {
  cursor: pointer;
}


/*LISTA JUGADORES*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    .align-left{
      text-align: left;
    }
    .align-center{
      text-align: center;
    }
    width: 20%;
    display: inline-flex;
    gap: 1em;
    padding: 0.2em 1em;
    margin: 0;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}

.container-jugadores{
   margin: auto;
}

.torneo-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 1em auto;
  width: 100%;
  h2{
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
  }
}

.container-mesa{
  margin-top: 2em;
}

.quantity input {
  text-align: right;
  max-width: 60px;
}

.ranking{
  .list-ranking{
    background-color: rgba($color: #ffffff, $alpha: 0.1);
  }
}