.container{
    width: auto;
    padding: 1em;
    background-color: rgb(197, 194, 194);
    color: rgb(26, 26, 26);
}

.info-details{
    padding: 1em;
    font-size: large;
    width: auto;
    margin-right: 200px;
    min-width: 400px;
}

.close{
  color: rgb(36, 37, 37);
  border-radius: 50%;
  padding: 0.5em;
  font-size: large;
  width: 20px;
  height: 20px;
  //margin-left: -1em;
}

.close:hover{
  cursor: pointer;
}

.image{
  float: right;
}

.underline{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .info-details{
    font-size: medium;
  }
}

h2{
  font-weight: bold;
}

.coste{
  display: flex;
  align-items: center;
  h2{
    padding-top: 1em;
  }
  img{
    width: 50px;
  }
}
