<div class="container">
  <div class="background"></div>
  <div class="row">
    <div class="col-md-6">
      <label for="Fecha" class="form-label">Search by Date</label>
      <input type="text" class="form-control" id="Fecha" placeholder="yyyy-mm-dd">
    </div>
    <div class="col-md-6">
      <label for="Provincia" class="form-label">Search By Province</label>
      <input type="text" class="form-control" id="Provincia" placeholder="Provincia">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="col">Evento</th>
        <th scope="col">Fecha</th>
        <th scope="col">Provincia</th>
        <th scope="col">Localidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of event" class="table-light" [routerLink]="['/ficha-event/'+event._id]">
        <td>{{event.name}}</td>
        <td>{{event.fecha}}</td>
        <td>{{event.provincia}}</td>
        <td>{{event.localidad}}</td>
      </tr>
    </tbody>
  </table>
</div>