.vista-carta{
  margin: 0;
  padding: 0;
  // border: 15px solid black;
  outline: 5px solid black;
  border-radius: 8px;
  width: 375px;
  height: 525px;
  position: relative;
  .icono-logo{
    width: 60px;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
  .name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #615c5c 1px 0 5px;
    padding-left: 0.5em;
    padding-top: 0.3em;
    color: aliceblue;
  }
  .clan{
    position: absolute;
    top: 1em;
    left: 0.5em;
    margin: 1.5em 0;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
  }
  .icono-capacidad{
    position: absolute;
    bottom: 0;
    right: 0.2em;
    width: 60px;
    height: 60px;
    background-image: url("../../../assets/img/icons-vtes/others/capacity.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
    p{
      font-size: 2em;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      padding-top: 0.8em;
    }
  }
  .disciplines-container{
    position: absolute;
    bottom: 2em;
    left: 1em;
    width: fit-content;
    height: auto;
    justify-content: center;
    // border: 1px solid black;
    .discipline{
      margin: 1.5em 0;
      background-color: rgb(255, 255, 255);
      width: 30px;
      height: 30px;
      rotate: 45deg;
    }
  }
  .description{
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: aliceblue;
    text-shadow: #615c5c 1px 0 5px;
    width: 310px;
    min-height: 100px ;
    bottom: 2em;
    right: 1.5em;
    z-index: 1;
    .text-description{
      padding: 0.5em;
    }
  }
  .image-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

}
