<!--CARTA PERSONALIZADA-->
<div class="vista-carta">

  <div class="custom-card">
    <div class="background-overlay"></div>
    <!--IMAGEN DE LA CARTA-->

    <!--NOMBRE DE LA CARTA-->
    <h2 class="name">Nombre de la Carta</h2>
    <!--CLAN-->
    <div class="clan">
    </div>
    <!--LOGOTIPO-->
    <img class="icono-logo" src="../../../../assets/img/icons-vtes/logo/logo-negro.png" alt="" />
    <!--CAPACIDAD-->
    <div class="icono-capacidad">
    </div>
    <!--DISCIPLINAS-->
    <div class="disciplines-container">
      <div class="discipline">1</div>
      <div class="discipline">2</div>
      <div class="discipline">3</div>
      <div class="discipline">4</div>
      <div class="discipline">5</div>
      <div class="discipline">6</div>
      <div class="discipline">7</div>
      <div class="discipline">8</div>
    </div>
    <!--DESCRIPCION-->
    <div class="description">
      <p class="text-description">
        Texto de prueba
      </p>
    </div>
    <!--IMAGEN DE LA CARTA-->
    <div class="container-image">
      <img class="image-card" src="../../../../assets/img/plantilla.png" alt="">
    </div>
    <!--GRUPO-->
    <div class="group">
    </div>
    <p class="texto-carta">
      <span class="description">
      </span>
    </p>
  </div>
</div>
