<!--front/src/app/components/vista-de-creacion-carta/vista-de-creacion-carta.component.html-->

<!--CARTA PERSONALIZADA-->
<div class="vista-carta">

  <div class="custom-card">
    <!-- <div class="background-overlay"></div> -->
    <!--NOMBRE DE LA CARTA-->
    <h2 class="name">{{customCardForm.get('name')?.value}}</h2>
    <!--CLAN-->
    <div class="clan-container">
      @if(customCardForm.get('clan')?.value){
      <img class="clan" [src]="getClanIcon(customCardForm.get('clan')?.value)" alt="{{customCardForm.get('clan')?.value}}" height="60px" width="60px"/>
      }
    </div>
    <!--LOGOTIPO-->
    <div class="container-logo">
     <img class="logo" [src]="setLogoColor(colorLogo)" alt="{{colorLogo}}">
    </div>
    <!--CAPACIDAD-->
    <div class="icono-capacidad">
      <p>{{customCardForm.get('capacity')?.value}}</p>
    </div>
    <!--DISCIPLINAS-->
    <div class="disciplines-container">
      @for (discipline of selectedDisciplines; track $index) {
      <img class="discipline" [src]="getDisciplineIcon(discipline)" alt="{{discipline}}">
      }
    </div>

    <!--DESCRIPCION-->
    <div class="description">
      <p class="text-description">
        {{customCardForm.get('description')?.value}}
      </p>
    </div>
    <!--IMAGEN DE LA CARTA-->
    <div class="container-image">
      @if(customCardForm.get('image')?.value){
        <img class="image-card" [src]="customCardForm.get('image')?.value" alt="" />
      }@else{
        <img class="image-card" src="../../../assets/img/plantilla.png" alt="" />
      }

      <!-- <img [src]="imageUrl" alt="Card Image"> -->
    </div>
    <!--GRUPO-->
    <div class="group">
      <p>{{customCardForm.get('group')?.value}}</p>
    </div>
  </div>
</div>

