<div class="container">
    <form action="">
        <div class="row">
            <div class="col-md-6">
                <label for="title" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="title" required>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@gmail.com">
            </div>
        </div>

        <br>
        <div class="col-md-6">
            <select class="form-select" aria-label="Default select example">
                <option selected>Tipo:</option>
                <option value="1">Publico</option>
                <option value="2">Cerrado</option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label for="Añade la informacion relevante" class="form-label">Añade la informacion relevante</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button class="w-100 btn btn-dark btn-lg" type="submit">Enviar</button>
    </form>
</div>