.container{
    border: 2px solid rgb(168, 8, 8);
    background-color: black;
    padding: 1em;
    span{
        color: white;
        padding: 0.3em;
    }
}

.image-container{
    display: inline-block;
}

.image{
    // display: inline-flex;
    // flex-wrap: wrap;
    // background-color: aliceblue;
    img{
        padding: 0.3em;
        width: 80px;
        height: 80px;
        border: 1px solid white;
    }
    img:hover{
        cursor: pointer;
        border: 1px solid rgb(168, 8, 8);
    }
}
button{
  margin-left: 1em;
}

button:hover{
    cursor: pointer;
    background-color: rgb(168, 8, 8);
}
