.inicio {
    text-align: center;
    background-color: orange;
}

img {
    max-height: 500px;
    width: auto;
}

.portada {
    background-image: url('../../../../assets/img/portada.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}