<!--front/src/app/pages/main/custom-cards/custom/custom.component.html-->
<div class="container">

  <div class="container-logo">
    <img class="logo" src="../../../assets/img/icons-vtes/clans/svg/tzimisce.svg" alt="">
  </div>

  <!--FORMULARIO REACTIVO PARA CARTA PERSONALIZADA-->
  <div class="formulario">
    <form [formGroup]="customCardForm" (ngSubmit)="onSubmit()">
      <!--NOMBRE CARTA-->
      <div class="mb-3">
        <input placeholder="Name" type="text" class="form-control" formControlName="name" />
      </div>

      <!--CAPACIDAD-->
      <div class="mb-3">
        <label for="capacity" class="form-label">Capacity:</label>
        <input placeholder="Capacity" min="1" max="11" type="number" class="form-control" formControlName="capacity" />
      </div>
      <!--IMAGEN-->
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="imagen" (change)="onFileSelected($event)" accept="image/*" />
      </div>
      <!--CLAN-->
      <div class="mb-3">
        <label for="clan" class="form-label">Clan</label>
        <select class="form-select" id="clan" formControlName="clan">
          <option *ngFor="let clan of clans" [value]="clan">{{ clan }}</option>
        </select>
      </div>
      <!--DISCIPLINAS-->
      <div class="mb-3 disciplines">
        <label for="disciplines" class="form-label">Disciplinas</label>
        <select class="form-select" id="disciplines" formControlName="disciplines" data-mdb-select-init multiple>
          <option *ngFor="let discipline of disciplines" [value]="discipline">{{ discipline }}</option>
        </select>
      </div>

      <div class="row">
        <!--GRUPO-->
        <div class="col-md-6">
          <label for="grupo" class="form-label">Grupo</label>
          <input type="number" min="1" max="7" class="form-control" id="grupo"
            [value]="customCardForm.get('group')?.value" formControlName="group" />
        </div>

        <!--COLOR LOGO-->
        <div class="col-md-6">
          <label for="logo-color" class="form-label">Color logo</label>
          <select class="form-select" formControlName="logoColor">
            <option *ngFor="let color of logoColors" [value]="color">{{ color }}</option>
          </select>
        </div>
      </div>
      <!--DESCRIPCION DE LA CARTA-->
      <div class="mb-3 description">
        <textarea placeholder="Descripción" class="form-control" id="description"
          formControlName="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary guardar">Guardar</button>
    </form>
  </div>

  <!--VISTA DE CREACION DE CARTA-->
  <app-vista-de-creacion-carta
  class="vista-carta"></app-vista-de-creacion-carta>
</div>



<!-- <div> -->
