<!--front/src/app/pages/main/list-cards/biblioteca/biblioteca.component.html-->
<div class="container">
  <div class="container-logo">
    <img class="logo" src="../../../assets/img/icons-vtes/logo/logo-negro.png" alt="">
  </div>

  <form class="row filtro-header" role="search" [formGroup]="libraryForm">

    <!--NOMBRES-->
    <div class="col-md-4">
      <label class="form-label">Search By Name:</label>
      <input formControlName="searchName" class="form-control me-2" type="search" placeholder="Search"
        aria-label="Search">
    </div>

    <!--TIPOS-->
    <div class="col-md-4">
      <label class="form-label">Type:</label>
      <select id="type" class="form-select" formControlName="selectedTypes">
        <option value="*" (change)="resetFilterType()">All</option>
        <option value="{{type}}" *ngFor="let type of types" (click)="onTypeChange(type)">{{type}}</option>
      </select>
    </div>

    <!--CLAN-->
    <div class="col-md-4">
      <label class="form-label">Clan:</label>
      <select id="clan" class="form-select" formControlName="searchClan">
        <option value="*" (click)="resetFiterClan()">All Clans</option>
        <option value="{{clan || 'All Clans'}}" *ngFor="let clan of clans" (click)="onSearchClanChange(clan)">{{clan}}
        </option>
      </select>
    </div>


    <!--DISCIPLINAS-->
    <div class="disciplines">
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'inf') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)">
        }
      </div>
      <br>
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'others') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)">
        }
      </div>
    </div>


    <!--LISTA DE CARTAS-->
    <main class="row">
      <section class="col-md-8">
        <table class="table table-hover">
          <thead>
            <tr class="table-dark">
              <th>Nombre</th>
              <th>Disciplines</th>
              <th>Tipo</th>
              <th>Coste</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card of cards
          | filter:['Vampire', 'Imbued']:true
          | filterMulti: {
            searchName:libraryForm.value.searchName,
            selectedTypes:libraryForm.value.selectedTypes,
            selectedDisciplines:libraryForm.value.selectedDisciplines,
            searchClan:libraryForm.value.searchClan,
            searchTitle:libraryForm.value.searchTitle,
            searchByCardText:libraryForm.value.searchByCardText,
            searchSect:libraryForm.value.searchSect,
            searchByTraits:libraryForm.value.searchByTraits
            };

            let i=index" (click)="openModal(card)" [class.table-light]="i % 2 === 0"
              [class.table-secondary]="i % 2 !== 0">
              <td class="imageFloat" style="cursor: pointer" (mouseenter)="setUrlImage(card.url)"
                (mouseleave)="clearUrlImage()">
                {{card.name}}</td>
              <td>
                <div class="container-image" *ngFor="let discipline of card.disciplines">
                  @defer (on viewport){
                  <img class="imageIcons" [src]="getDisciplineUrl(discipline)" alt="">
                  }@placeholder{
                  <p>{{discipline}}</p>
                  }
                </div>
              </td>
              <td>{{card.types}}</td>
              <td>
                <div class="container-image">
                  @defer (on viewport) {
                  <img class="imageIcons" [src]="getBloodCostImage(card.blood_cost) || getPoolCostImage(card.pool_cost)"
                    loading="lazy">
                  }@placeholder{
                  <p>{{card.blood_cost}} {{card.pool_cost}}</p>
                  }
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </section>

      <section class="col-md-4">
        <aside>
          <!--SEARCH BY CARD TEXT-->
          <div>
            <h4 class="select">Search By Card Text:</h4>
            <input name="filter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
              formControlName="searchByCardText" />
          </div>
          <!--SEARCH BY SECT-->
           <div>
            <h4 class="select">Sect:</h4>
            <select id="sect" class="form-select form-select-sm"
            formControlName="searchSect">
              <option value="*" (click)="resetFiterSect()">Any</option>
              <option
              value="{{sect || 'Any'}}"
              *ngFor="let sect of sects"
              (click)="onSearchSectChange(sect)"
              >
                {{ sect }}
              </option>
            </select>
          </div>
          <!--SEARCH BY TRAITS-->
          <div>
            <h4 class="select">Search By Traits:</h4>
            <select class="form-select form-select-sm"
            formControlName="searchByTraits">
              <option value="*" (click)="resetFiterTraits()">Any</option>
              <option
              value="{{ trait || 'Any' }}"
              *ngFor="let trait of traits"
              (click)="onSearchTraitsChange(trait)"
              >
              {{ trait }}
            </option>
            </select>
          </div>
          <!--SEARCH BY TITLES-->
          <div>
            <h4 class="select">Title:</h4>
            <select id="title" class="form-select form-select-sm"
              formControlName="searchTitle">
              <option value="*" (click)="resetFiterTitle()">Any</option>
              <option
              value="{{title || 'Any'}}"
              *ngFor="let title of titles"
              (click)="onSearchTitleChange(title)"
              >
                {{ title }}
              </option>
            </select>
          </div>

        </aside>
      </section>
    </main>

  </form>
  <br />

  <div class="imagenEmergente" *ngIf="url">
    <img [src]="url" alt="Imagen" />
  </div>
</div>
