<!--front/src/app/pages/main/list-cards/biblioteca/biblioteca.component.html-->
<div class="container">

  <form class="row filtro-header" role="search">

    <!--NOMBRES-->
    <div class="col-md-4">
      <label for="marca" class="form-label">Search By Name:</label>
      <input
      name="filter"
      [(ngModel)]="searchName"
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      >
    </div>

    <!--TIPOS-->
    <div class="col-md-4">
      <label for="marca" class="form-label">Type:</label>
      <select name="type" id="type" class="form-select"
      [(ngModel)]="selectedTypes"
      >
      <option value="*" (change)="resetFilterType()">All</option>
      <option value="{{type}}" *ngFor="let type of types"
      (click)="onTypeChange(type)">{{type}}</option>
      </select>
    </div>

    <!--CLAN-->
    <div class="col-md-4">
      <label for="marca" class="form-label">Clan:</label>
      <select name="clan" id="clan" class="form-select"
      [(ngModel)]="searchClan">
        <option value="*" (click)="resetFiterClan()">All Clans</option>
        <option value="{{clan || 'All Clans'}}" *ngFor="let clan of clans"
        (click)="onSearchClanChange(clan)">{{clan}}</option>
      </select>
    </div>


  <!--DISCIPLINAS-->
  <div class="disciplines">
    <div class="all-disciplines"
  *ngFor="let discipline of disciplineImages">
    @if(discipline.type === 'inf') {
      <img class="imageIcons icon-filter"
      [src]="discipline.url"
      [alt]="discipline.name"
      (click)="toggleOpacity($event)"
      >
    }
  </div>
  <br>
  <div class="all-disciplines"
  *ngFor="let discipline of disciplineImages">
    @if(discipline.type === 'others') {
      <img class="imageIcons icon-filter"
      [src]="discipline.url"
      [alt]="discipline.name"
      (click)="toggleOpacity($event)"
      >
    }
  </div>
  </div>


  <!--LISTA DE CARTAS-->
  <main class="row">
    <section class="col-md-8">
      <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th>Nombre</th>
            <th>Disciplines</th>
            <th>Tipo</th>
            <th>Coste</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cards
          | filter:['Vampire', 'Imbued']:true
          | filterMulti: {
            searchName:searchName,
            selectedDisciplines:selectedDisciplines,
            selectedTypes:selectedTypes,
            searchClan:searchClan,
            searchSect:searchSect,
            selectedTraits: selectedTraits,
            selectedTitles: selectedTitles,
            selectedBloodCosts: selectedBloodCosts,
            selectedPoolCosts: selectedPoolCosts
            }; let i=index"
            (click)="openModal(card)"
            [class.table-light] = "i % 2 === 0"
            [class.table-secondary] = "i % 2 !== 0"
          >
            <td class="imageFloat" style="cursor: pointer"
            (mouseenter)="setUrlImage(card.url)"
            (mouseleave)="clearUrlImage()">
            {{card.name}}</td>
            <td>
              <div class="container-image" *ngFor="let discipline of card.disciplines">
                @defer (on viewport){
                  <img class="imageIcons" [src]="getDisciplineUrl(discipline)" alt="">
                }@placeholder{
                  <p>{{discipline}}</p>
                }
              </div>
            </td>
            <td>{{card.types}}</td>
            <td>
            <div class="container-image">
              @defer (on viewport) {
                <img class="imageIcons" [src]="getBloodCostImage(card.blood_cost) || getPoolCostImage(card.pool_cost)" loading="lazy">
              }@placeholder{
                <p>{{card.blood_cost}} {{card.pool_cost}}</p>
              }
            </div>
          </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="col-md-4">
      <aside>
          <!-- <div class="row"> -->
            <!--SECTA-->
            <!-- <div class="col-6">
              <h4 class="titulo-select">Sect</h4>
              <select name="sect" class="form-select" id="sect"
              [(ngModel)]="searchSect">
                <option value="any">Any</option>
                <option value="camarilla">Camarilla</option>
                <option value="sabbat">Sabbat</option>
                <option value="anarch">Anarch</option>
                <option value="laibon">Laibon</option>
                <option value="independent">Independent</option>
              </select>
            </div> -->

            <!--CAPACITY-->
            <!-- <div class="col-6">
              <h4 class="titulo-select">Capacity</h4>
              <select name="capacity" class="form-select" id="capacity">
                <option value="capacity">Any</option>
              </select>
            </div>
          </div> -->

          <!--TITLES-->
          <div class="title">
            <h4>Title:</h4>
            <div class="content-title">
              <div *ngFor="let title of titles">
                <input name="titles" type="checkbox" class="form-checkbox"
                [id]="'-titles-' + title" [value]="title"
                [(ngModel)]="titlesSelected[title]"
                (change)="onTitlesChange()"
                />
                <label [for]="'-titles-' + title">{{ title }}</label>
              </div>
            </div>
          </div>


          <div class="row">
            <!--BLOOD COST-->
            <div class="col-6">
              <h4 class="titulo-select">Blood Cost</h4>
              <select name="blood-cost" class="form-select" id="blood-cost"
              [(ngModel)]="bloodCosts"
              (change)="onBloodCostsChange()">
                <option value="any">Any</option>
                <option value="{{bloodCosts}}" *ngFor="let bloodCost of bloodCosts"
                (click)="onBloodCostsChange()">{{bloodCost}}</option>
                <option value="X">X</option>
              </select>
            </div>
            <!--POOL COST-->
            <div class="col-6">
              <h4 class="titulo-select">Pool Cost</h4>
              <select name="pool-cost" class="form-select" id="pool-cost">
                <option value="any">Any</option>
                <option value="{{poolCosts}}" *ngFor="let poolCost of poolCosts"
                (click)="onPoolCostsChange()">{{poolCost}}</option>
                <option value="X">X</option>

              </select>
            </div>
          </div>

          <!--TRAIT-->
          <div class="traits">
            <h4>Traits:</h4>
              <div class="content-traits">
                <div *ngFor="let trait of traits">
                  <input name="traits" type="checkbox" class="form-checkbox"
                  [id]="'-traits-' + trait" [value]="trait"
                  [(ngModel)]="traitsSelected[trait]"
                  (change)="onTraitsChange()"
                  />
                  <label [for]="'-traits-' + trait">{{ trait }}</label>
                </div>
            </div>
          </div>

      </aside>
    </section>
  </main>

</form>
<br/>

   <div class="imagenEmergente" *ngIf="url">
    <img [src]="url" alt="Imagen" />
  </div>
</div>
