<div class="container">
  <form action="">
    <!--AUTOR (campo oculto)-->
    <div class="col-md-4">
      <input placeholder="Autor" type="hidden" class="form-control" id="author" required>
    </div>

    <div class="row">
      <!--NOMBRE CARTA-->
      <div class="col-md-3">
        <input placeholder="Nombre" type="text" class="form-control" id="title" required>
      </div>
      <!--CAPACIDAD-->
      <div class="col-md-3">
        <input placeholder="Capacidad" type="text" class="form-control" id="capacity" required>
      </div>
      <!--CLAN-->
      <div class="col-md-3">
        <input placeholder="Clan" type="text" class="form-control" id="clan" required>
      </div>
      <!--DISCIPLINAS-->
      <div class="col-md-3">
        <input placeholder="Disciplinas" type="text" class="form-control" id="disciplines" required>
      </div>
    </div>

    <div class="row">
      <!--GRUPO-->
      <div class="col-md-3">
        <input placeholder="Grupo" type="text" class="form-control" id="group" required>
      </div>
      <!--TIPO-->
      <div class="col-md-3">
        <input placeholder="Tipo" type="text" class="form-control" id="type" required>
      </div>
      <!--LOGO COLOR-->
      <div class="col-md-3">
        <input placeholder="Logo Color" type="text" class="form-control" id="logoColor" required>
      </div>
    </div>

    <div class="row">
      <!--DESCRIPCION-->
      <div class="col-md-6">
        <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <!--IMAGEN-->
      <div class="col-md-6">
        <input type="file" class="form-control" id="image" required>
      </div>
    </div>

    <div class="row">
      <!--PUBLICO-->
      <div class="col-md-4">
        <select class="form-select" name="visibility" id="">
          <option value="publico">Publico</option>
          <option value="privado">Privado</option>
        </select>
      </div>
    </div>
  </form>
</div>
