<div class="container">
  <div class="container-logo">
    <img class="logo" src="../../../assets/img/icons-vtes/clans/svg/ravnos2.svg" alt="">
  </div>
  <form action="" class="row" role="search"
  [formGroup]="updateCardForm"
  (ngSubmit)="uploadCard()"
  >
    <!--AUTOR (campo oculto)-->
    <div class="col-md-4">
      <input placeholder="Autor" type="hidden" class="form-control" id="author" value="{{getCurrentUser()?._id}}"
        required formControlName="author" />
    </div>

    <!--DISCIPLINAS-->
    <div class="disciplines">
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'inf') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" />
        }
      </div>
      <br />
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'sup') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" [class.clicked]="disciplineSelected[discipline.name]" />
        }
      </div>
      <br />
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'others') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" />
        }
      </div>
    </div>

    <div class="row">
      <!--NOMBRE CARTA-->
      <div class="col-md-6">
        <label for="title" class="form-label">Name:</label>
        <input placeholder="Nombre" type="text" class="form-control" id="title" required formControlName="name">
      </div>
      <!--CLAN-->
      <div class="col-md-6">
        <label for="marca" class="form-label">Clan:</label>
        <select name="clan" id="clan" class="form-select" formControlName="clan">
          <option value="{{clan}}" *ngFor="let clan of clans">{{ clan }}</option>
        </select>
      </div>
    </div>


    <div class="row">
      <!--IMAGEN-->
      <div class="col-md-3">
        <label for="image" class="form-label">Image:</label>
        <input type="file" class="form-control" 
        id="file"
        (change)="handleFileChange($event)">
      </div>

      <!--CAPACIDAD-->
      <div class="col-md-3">
        <label for="capacity">Capacity:</label>
        <input type="number" class="form-control" min="1" max="11" placeholder="Capacidad minima"
          formControlName="capacity" />
      </div>

      <!--GRUPO-->
      <div class="col-md-3">
        <label for="marca" class="form-label">Group:</label>
        <select id="group" class="form-select" formControlName="group">
          <option value="*">All</option>
          <option value="1">Grupo 1</option>
          <option value="2">Grupo 2</option>
          <option value="3">Grupo 3</option>
          <option value="4">Grupo 4</option>
          <option value="5">Grupo 5</option>
          <option value="6">Grupo 6</option>
          <option value="7">Grupo 7</option>
        </select>
      </div>

      <!--TIPO-->
      <div class="col-md-3">
        <input type="hidden" class="form-control" formControlName="type">
      </div>

    </div>

    <div class="row">
    </div>

    <div class="row flex">
      <!--DESCRIPCION-->
      <div class="col-md-6">
        <textarea class="form-control" id="" cols="30" rows="10" formControlName="description">
      </textarea>
      </div>
      <!--PUBLICO-->
      <div class="col-md-3">
        <select class="form-select" name="visibility" id="" formControlName="isPublic">
          <option value="true">Publico</option>
          <option value="false">Privado</option>
        </select>
      </div>
      <div class="col-md-3 end"></div>
    </div>
    <!--GUARDADO-->
    <div class="button">
      <button class="btn btn-dark" type="submit"
      >Guardar</button>
    </div>
  </form>
  <!--ALERTS-->
  @if(showSucessMessage){
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{message}}</strong>
    </div>
    }

    @if(showErrorMessage){
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{message}}</strong><br>
    </div>
    }
</div>
