<!--front/src/app/pages/main/list-cards/cripta/cripta.component.html-->
<div class="container">
  <!-- <span class="backgroud-image"></span> -->
  <form class="row filtro-header" role="search" action="" [formGroup]="cryptForm">
    <!--SEARCH BY NAME-->
    <div class="col-md-4">
      <h4 class="select">Search By Name:</h4>
      <input name="filter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
        formControlName="searchName" />
    </div>

    <!--GRUPOS-->
    <div class="col-4 group">
      <h4 class="select">Group:</h4>
      <select id="group" class="form-select" formControlName="searchGroup">
        <option value="*">All</option>
        <option value="1">Grupo 1</option>
        <option value="2">Grupo 2</option>
        <option value="3">Grupo 3</option>
        <option value="4">Grupo 4</option>
        <option value="5">Grupo 5</option>
        <option value="6">Grupo 6</option>
        <option value="7">Grupo 7</option>
      </select>
    </div>

    <!--CLAN-->
    <div class="col-md-4">
      <h4 class="select">Clan:</h4>
      <select id="clan" class="form-select"
      formControlName="searchClan">
        <option value="*" (click)="resetFiterClan()">All Clans</option>
        <option
        value="{{ clan || 'All Clans' }}"
        *ngFor="let clan of clans"
        (click)="onSearchClanChange(clan)">
          {{ clan }}
        </option>
      </select>
    </div>

    <!--DISCIPLINAS-->
    <div class="disciplines">
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'inf') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" />
        }
      </div>
      <br />
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'sup') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" [class.clicked]="disciplineSelected[discipline.name]" />
        }
      </div>
      <br />
      <div class="all-disciplines" *ngFor="let discipline of disciplineImages">
        @if(discipline.type === 'others') {
        <img class="imageIcons icon-filter" [src]="discipline.url" [alt]="discipline.name"
          (click)="toggleOpacity($event)" />
        }
      </div>
    </div>

    <!--LISTA DE CARTAS-->
    <main class="row">
      <section class="col-md-8">
        <table class="table table-hover">
          <thead>
            <tr class="table-dark">
              <th>Nombre</th>
              <th>Clan</th>
              <th>Capacidad</th>
              <th>Disciplinas</th>
              <th>Grupo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
                let card of cards
                  | filter : ['Vampire', 'Imbued'] : false
                  | filterMulti
                    : {
                        searchName: cryptForm.value.searchName,
                        searchByCardText: cryptForm.value.searchByCardText,
                        searchGroup: cryptForm.value.searchGroup,
                        searchClan: cryptForm.value.searchClan,
                        searchTitle: cryptForm.value.searchTitle,
                        searchHabilities: cryptForm.value.searchHabilities,
                        selectedDisciplines:cryptForm.value.selectedDisciplines,
                        searchMinCapacity: cryptForm.value.searchMinCapacity,
                        searchMaxCapacity: cryptForm.value.searchMaxCapacity,
                      };
                let i = index
              " (click)="openModal(card)" [class.table-light]="i % 2 === 0" [class.table-secondary]="i % 2 !== 0">
              <td style="cursor: pointer" (mouseenter)="setUrlImage(card.url)" (mouseleave)="clearUrlImage()">
                {{ card.name }}
              </td>
              <!-- <td>{{ card.clans }}</td> -->
              <td>
                <div class="container-image clan-icon" *ngFor="let clan of card.clans">
                  @defer (on viewport){
                  <img class="imageIcons" [src]="getClanUrl(clan)" alt="" />
                  }@placeholder {
                  <p>{{ clan }}</p>
                  }
                </div>
              </td>
              <td>
                <div class="container-image">
                  @defer(on viewport){
                  <img class="imageIcons" [src]="getCapacityCostImage(card.capacity)" alt="" />
                  }@placeholder {
                  <p>{{ card.capacity }}</p>
                  }
                </div>
              </td>
              <td>
                <div class="container-image" *ngFor="let discipline of card.disciplines">
                  @defer (on viewport){
                  <img class="imageIcons" [src]="getDisciplineUrl(discipline)" alt="" />
                  }@placeholder{
                  <p>{{ discipline }}</p>
                  }
                </div>
              </td>
              <td>
                <span class="group-styles">{{ card.group }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="col-md-4">
        <aside>
          <!--SEARCH BY CARD TEXT-->
          <div>
            <h4 class="select">Search By Card Text:</h4>
            <input name="filter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
              formControlName="searchByCardText" />
          </div>
          <!--TITLES-->
          <div>
            <h4 class="select">Title:</h4>
            <select id="title" class="form-select form-select-sm"
              formControlName="searchTitle">
              <option value="*" (click)="resetFiterTitle()">Any</option>
              <option
              value="{{title || 'Any'}}"
              *ngFor="let title of titles"
              (click)="onSearchTitleChange(title)"
              >
                {{ title }}
              </option>
            </select>
          </div>
          <!--CAPACITY MAX-->
          <div class="capacity">
            <label for="customRange2" class="form-label">Max. Capacity</label>
            <input type="range" class="form-range" min="1" max="11" id="maxCapacity"
            formControlName="searchMaxCapacity"
            value="{{maxCapacity || 11}}"
            (click)="onSearchMaxCapacityChange(newMaxCapacity)"/>
          </div>
          <!--CAPACITY MIN-->
          <div class="capacity">
            <label for="customRange2" class="form-label">Min. Capacity</label>
            <input type="range" class="form-range" min="1" max="11" id="minCapacity"
            formControlName="searchMinCapacity"
            value="{{minCapacity || 1}}"
            (click)="onSearchMinCapacityChange(newMinCapacity)"
            />
          </div>

          <!--SEARCH BY HABILITIES-->
          <div>
            <h4 class="select">Habilities:</h4>
            <select id="actionModifier" class="form-select form-select-sm"
            formControlName="searchActionModifier">
              <option value="*" (click)="resetFiterHabilities()">Any</option>
              <option
              value="{{hability || 'Any'}}"
              *ngFor="let hability of habilities"
              (click)="onSearchHabilitiesChange(hability)"
              >
                {{ hability }}
              </option>
            </select>
          </div>

          <!--ENLACES-->
          <div class="enlaces">
            <h4>Pages</h4>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://vdb.im/decks/2080511d5c0c42358d4193a6a5dc869f">VDB</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank"
                  href="https://www.blackchantry.com/vampire-the-eternal-struggle-fifth-edition/">Black Chantry</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.gamepod.es/">Gamepod</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
              </li>
            </ul>
          </div>
        </aside>
      </section>
    </main>
  </form>
  <br />

  <div class="imagenDestacada" *ngIf="url">
    <img [src]="url" alt="Imagen destacada" />
  </div>
</div>
