<!--front/src/app/pages/admin/panel-admin/list-users/list-users.component.html-->
<div class="container">

  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th></th>
        <th>Nombre</th>
        <th>Nick</th>
        <th>Email</th>
        <th>Rol</th>
        <th></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user">
        <td><img src="{{apiUrl + user.avatarUrl}}" alt=""></td>
        <td>{{user.name}}</td>
        <td>{{user.nick}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <select name="" id="roles" (change)="changeRole(user.email, $event)">
            <option [value]="role.value" [selected]="role.value === user.role" *ngFor="let role of roleOptions">
              {{role.label}}
            </option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user._id)">Eliminar</button>
      </tr>
    </tbody>
  </table>
</div>


@if(showSucessMessage){
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{message}}</strong> 
  </div>
  }

  @if(showErrorMessage){
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{message}}</strong><br>
  </div>
  }