<!--front/src/app/pages/admin/panel-admin/list-users/list-users.component.html-->
<div class="container">
  <!-- <button type="button" class="btn btn-sm"
  (click)="getUsers()">
  <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
</svg>
  </button> -->
  <table class="table table-hover">
    <thead>
      <tr class="table-dark">
        <th></th>
        <th>Nombre</th>
        <th>Nick</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user">
        <td><img src="{{user.avatarUrl}}" alt=""></td>
        <td>{{user.name}}</td>
        <td>{{user.nick}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm"
          (click)="deleteUser(user._id)">Eliminar</button>
          @if(user.blocked){
            <button type="button" class="btn btn-warning btn-sm"
            (click)="unblockUser(this.user)">DesBloquear</button>
          }@else {
            <button type="button" class="btn btn-warning btn-sm"
            (click)="blockUser(this.user._id)">Bloquear</button>
          }
        </td>
      </tr>
    </tbody>
  </table>
</div>
